.validationerror {
  opacity: 1;
  border-color: red;
  border-style: solid;
  border-width: 4px;
  margin-top: -100px;
  margin-bottom: 75px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.new-tweet {
  justify-content: center;
  align-items: center;
  margin-left: 150px;
}

.newtweetcontainer {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 50px;
}

.newtweetsubmitbutton {
  background-color: blue;
  color: white;
  font-family: 'Bungee', cursive;
  font-size: 24px;
  margin-top: 25px;
}

.newtweetform {
  width: 800px;
  background-color: #f4f1ec;
  border: black;
}

.counter {
  font-family: 'Bungee', cursive;
  font-size: 24px;
  justify-content: flex-end;
  margin-left: 650px;
}

h2 {
  align-items: center;
}

#tweet-text {
  font-weight: 500;
  font-size: 32px;
}

