

.validationerror {
  opacity: 1;
  border-color: red;
  border-style: solid;
  border-width: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.new-tweet {
  justify-content: center;
  align-items: center;
  margin-left: 0em;
  margin-top: 10px;
} 

.newtweetcontainer {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 50px;
}

.newtweetsubmitbutton {
  background-color: blue;
  color: white;
  font-family: 'Bungee', cursive;
  font-size: 24px;
}

.newtweetform {
  width: 800px;
  background-color: #f4f1ec;
  border-bottom: 5px black;
  border: none;
  border-style: solid;
  border-width: 0px 0px 5px 0px;
}


.counter {
  font-family: 'Bungee', cursive;
  font-size: 24px;
}

.tweetcounterbar {
  display: flex;
  justify-content: space-between;
}

h2 {
  align-items: center;
}

#tweet-text {
  font-weight: 500;
  font-size: 32px;
}