@media only screen and (max-width: 1024px) {
  /* .section-tweetcontainer {
    width: 66.6%;
    height: 66.6%;
  } 

  .new-tweet {
    width: 66.6%;
    height: 66.6%;
  } */
  .article-article {
    width: 80%;
    margin: 0 auto;
  }
}

.section-tweetcontainer {
  margin-top: 20px;
}

.article-article {
  width: 800px;
  margin-left: 0em;
  margin-bottom: 25px;
  margin-top: 5px;
  border-style: solid;
  border :5px solid black
}

.article-article:hover {
  box-shadow: 10px 10px black;

}

.article-div-header {
  display: flex;
  flex-direction: row;
}

.article-image {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10%;
}

.article-header {
  flex-direction: row;
  justify-content: space-between;
  background-color: #f4f1ec;
  height: 100px;
  margin-top: 5%;
}

.article-name {

  margin-left: 10%;
}

.article-article:hover .article-name {
  font-weight: bold;
}

.article-username {
 margin-right: 5%;
 opacity: 0;
  
}

.article-article:hover .article-username {
  opacity: 1;
}

.article-body {
  align-items: center;
  padding-left: 3%;
  padding-bottom: 5%;
  margin-left: 2%;
  margin-right: 2%;
  border-bottom:5px solid black;
  overflow-x: auto;
}

.article-article:hover .article-body {
  font-weight: bold;
}

.article-footer {
  flex-direction: row;
}

.article-div-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2%;
}

.article-article:hover .article-div-footer {
  font-weight: bold;
}

.article-div-footer-icons {
  display: flex;
  flex-direction: row;
}

.article-flag {
  margin-left: 5px;
}

.article-article:hover .article-flag {
  font-weight: bold;
}

.article-retweet {
  margin-left: 5px;
}

.article-article:hover .article-retweet {
  font-weight: bold;
}

.article-heart {
  margin-left: 5px;
  padding-right: 10px;
}

.article-article:hover .article-heart {
  font-weight: bold;
}